
@{
    ViewBag.Title = "Index";
}

<h2>Indice Principal de consultas</h2>

<br />

<table style="font-size:large">
    <tr><td>@Html.ActionLink("Listado de Productos", "ProductoListar")</td></tr>
    <tr><td>@Html.ActionLink("Producto por Nombre", "ProductoNombreListar")</td></tr>
    <tr><td>@Html.ActionLink("Listado de Pedidos por Cliente", "PedidosCliente")</td></tr>
</table>